*.debhelper
*.log
*.substvars
adb/
andrioid-f2fs-utils/
android-f2fs-utils-dev/
android-libcutils-dev/
android-libcutils/
android-liblog-dev/
android-liblog/
android-libzipfile-dev/
android-libzipfile/
android-system-dev/
fastboot/
files