*.log
*.substvars
adb
android-androidconfig-dev
android-libadb
android-libadb-dev
android-libbacktrace
android-libbacktrace-dev
android-libbase
android-libbase-dev
android-libcutils
android-libcutils-dev
android-libext4-utils
android-libext4-utils-dev
android-libf2fs-utils
android-libf2fs-utils-dev
android-liblog
android-liblog-dev
android-libnativehelper
android-libnativehelper-dev
android-libsparse
android-libsparse-dev
android-libutils
android-libutils-dev
android-libziparchive
android-libziparchive-dev
android-system-dev
fastboot
files