Source: android-platform-system
Section: utils
Priority: extra
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Stefan Handschuh <handschuh.stefan@googlemail.com>,
           Hans-Christoph Steiner <hans@eds.org>,
           Kai-Chung Yan <seamlikok@gmail.com>
Build-Depends: android-libselinux-dev,
               debhelper (>=9),
               dh-exec,
               libbsd-dev,
               libf2fs-dev,
               libf2fs-format-dev,
               libssl-dev,
               uuid-dev,
               zlib1g-dev
Standards-Version: 3.9.6
Homepage: https://android.googlesource.com
Vcs-Git: http://anonscm.debian.org/android-tools/android-platform-system-core.git
Vcs-Browser: http://anonscm.debian.org/cgit/android-tools/android-platform-system-core.git

Package: android-liblog
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Android logging library
 Library providing logging capabilities to android related tools.

Package: android-liblog-dev
Section: libdevel
Architecture: linux-any
Depends: ${misc:Depends},
         libc-dev,
         android-liblog (= ${binary:Version})
Breaks: android-liblog (<< 21-4~)
Replaces: android-liblog (<< 21-4~)
Description: Android logging library - Development files
 Library providing logging capabilities to android related tools.
 .
 This package contains the development files.

Package: android-libcutils
Section: libs
Architecture: linux-any
Depends: android-liblog, libbsd0, ${shlibs:Depends}, ${misc:Depends}
Description: Android utils library for C
 This library provides common functionalities for android related tools.

Package: android-libcutils-dev
Section: libdevel
Architecture: linux-any
Depends: ${misc:Depends},
         android-libcutils (= ${binary:Version}),
         android-liblog-dev (= ${binary:Version}),
         libbsd-dev
Breaks: android-libcutils (<< 21-4~)
Replaces: android-libcutils (<< 21-4~)
Description: Android utils library for C - Development files
 This library provides common functionalities for android related tools.
 .
 This package contains the development files.

Package: android-libzipfile
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Android zipfile library
 Library providing zipfile handling capabilities to android related tools.

Package: android-libzipfile-dev
Section: libdevel
Architecture: linux-any
Depends: ${misc:Depends},
         android-libzipfile (= ${binary:Version}),
         zlib1g-dev
Breaks: android-libzipfile (<< 21-4~)
Replaces: android-libzipfile (<< 21-4~)
Description: Android zipfile library - Development files
 Library providing zipfile handling capabilities to android related tools.
 .
 This package contains the development files.

Package: adb
Section: utils
Architecture: linux-any
Depends: android-libcutils (>= ${binary:Version}),
         android-liblog (>= ${binary:Version}),
         android-libzipfile (>= ${binary:Version}),
         libssl1.0.0,
         zlib1g,
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: android-tools-adb
Replaces: android-tools-adb
Description: Android Debug Bridge
 A versatile command line tool that lets you communicate with an emulator
 instance or connected Android-powered device.

Package: fastboot
Section: utils
Architecture: linux-any
Depends: android-libext4-utils (>= ${binary:Version}),
         android-libf2fs-utils (>= ${binary:Version}),
         android-libsparse (>= ${binary:Version}),
         android-libzipfile (>= ${binary:Version}),
         zlib1g,
         ${shlibs:Depends},
         ${misc:Depends},
Breaks: android-tools-fastboot
Replaces: android-tools-fastboot
Description: Android fastboot tool
 A command line tool for flashing an Android device, boot an Android device to
 fastboot mode, etc..

Package: android-libf2fs-utils
Section:libs
Architecture: linux-any
Depends: android-libsparse (>= ${binary:Version}),
         libf2fs-format1,
         libf2fs1,
         libuuid1,
         zlib1g,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Android F2FS utils library
 This package contains only libf2fs_utils.so which is composed of
 libf2fs_ioutils.so and libf2fs_dlutils.so. This library invokes functions of
 f2fs-tools libraries directly instead of using dlopen.
 .
 This library is only used by Android SDK currently.

Package: android-libf2fs-utils-dev
Section: libdevel
Architecture: linux-any
Depends: android-libf2fs-utils (= ${binary:Version}),
         ${misc:Depends}
Description: Android F2FS utils library
 This package contains only libf2fs_utils.so which is composed of
 libf2fs_ioutils.so and libf2fs_dlutils.so. This library invokes functions of
 f2fs-tools libraries directly instead of using dlopen.
 .
 This library is only used by Android SDK currently.
 .
 This package contains the development files.

Package: android-libsparse
Section: libs
Architecture: linux-any
Depends: zlib1g,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Android Sparse library
 This library is only used by Android SDK currently.

Package: android-libsparse-dev
Section: libdevel
Architecture: linux-any
Depends: android-libsparse (= ${binary:Version}),
         ${misc:Depends}
Description: Android Sparse library - Development files
 This library is only used by Android SDK currently.
 .
 This package contains the development files.

Package: android-libext4-utils
Section: libs
Architecture: linux-any
Depends: android-libsparse (>= ${binary:Version}),
         android-libselinux,
         zlib1g,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Android ext4 utils library
 This library is only used by Android SDK currently.

Package: android-libext4-utils-dev
Section: libdevel
Architecture: linux-any
Depends: android-libext4-utils (= ${binary:Version}),
         ${misc:Depends}
Description: Android ext4 utils library - Development files
 This library is only used by Android SDK currently.
 .
 This package contains the development files.

Package: android-libutils
Section: libs
Architecture: linux-any
Depends: android-libcutils (>= ${binary:Version}),
         android-liblog (>= ${binary:Version}),
         android-libnativehelper,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Android Utility Function Library
 This library is only used by Android SDK currently.

Package: android-libutils-dev
Section: libdevel
Architecture: linux-any
Depends: android-libutils (= ${binary:Version}),
         ${misc:Depends}
Description: Android Utility Function Library - Development files
 This library is only used by Android SDK currently.
 .
 This package contains the development files.

Package: android-libziparchive
Section: libs
Architecture: linux-any
Depends: android-liblog (>= ${binary:Version}),
         android-libutils (>= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Android zip archive library
 This library is only used by Android SDK currently.

Package: android-libziparchive-dev
Section: libdevel
Architecture: linux-any
Depends: android-libziparchive (= ${binary:Version}),
         ${misc:Depends}
Description: Android zip archive library - Development files
 This library is only used by Android SDK currently.
 .
 This package contains the development files.

Package: android-libnativehelper
Section: libs
Architecture: linux-any
Depends: android-liblog (>= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Android native helper library
 This library is only used by Android SDK currently.

Package: android-libnativehelper-dev
Section: libdevel
Architecture: linux-any
Depends: android-libnativehelper (= ${binary:Version}),
         ${misc:Depends}
Description: Android native helper library - Development files
 This library is only used by Android SDK currently.
 .
 This package contains the development files.

Package: android-archconfig-dev
Section: libs
Architecture: all
Depends: ${misc:Depends}
Description: Android config headers for all Android codes
 This package contains AndroidConfig.h for x86, misp(64) and arm(64) which must
 be included in all source files of Android SDK componnets.