#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk

export DEB_HOST_ARCH_CPU

include debian/detect_arch.mk

UPSTREAM_TAG = android-$(subst +,_,$(DEB_VERSION_UPSTREAM))
export ANDROID_LIBVERSION = $(subst +r,.,$(DEB_VERSION_UPSTREAM))
export ANDROID_SOVERSION = $(shell echo $(ANDROID_LIBVERSION) | cut -c-1)

# ORDER IS IMPORTANT!
COMPONENTS = liblog \
             libnativehelper \
             libcutils \
             libbase \
             libbacktrace \
             libutils \
             libziparchive \
             libsparse \
             libf2fs_utils \
             libext4_utils \
             libadb \
             adb \
             fastboot

%:
	dh $@

override_dh_auto_build:
	$(foreach makefile, $(COMPONENTS), make -f debian/$(makefile).mk;)

override_dh_auto_clean:
	dh_auto_clean
	echo shit
	$(foreach makefile, $(COMPONENTS), make clean -f debian/$(makefile).mk;)
	rm -f *.so* *.a

get-orig-source: core.tar.gz extras.tar.gz build.tar.gz libnativehelper.tar.gz
	mkdir -p android-platform-system-$(DEB_VERSION_UPSTREAM)/core
	mkdir android-platform-system-$(DEB_VERSION_UPSTREAM)/extras
	mkdir android-platform-system-$(DEB_VERSION_UPSTREAM)/libnativehelper
	mkdir android-platform-system-$(DEB_VERSION_UPSTREAM)/build
	tar -f core.tar.gz -z -x --directory android-platform-system-$(DEB_VERSION_UPSTREAM)/core
	tar -f extras.tar.gz -z -x --directory android-platform-system-$(DEB_VERSION_UPSTREAM)/extras
	tar -f libnativehelper.tar.gz -z -x --directory android-platform-system-$(DEB_VERSION_UPSTREAM)/libnativehelper
	tar -f build.tar.gz -z -x --directory android-platform-system-$(DEB_VERSION_UPSTREAM)/build
	cp -r android-platform-system-$(DEB_VERSION_UPSTREAM)/build/core/combo/include/arch android-platform-system-$(DEB_VERSION_UPSTREAM)/core/include
	rm -r android-platform-system-$(DEB_VERSION_UPSTREAM)/build
	tar --create --xz -f android-platform-system_$(DEB_VERSION_UPSTREAM).orig.tar.xz android-platform-system-$(DEB_VERSION_UPSTREAM)
	mv android-platform-system_$(DEB_VERSION_UPSTREAM).orig.tar.xz ..

core.tar.gz:
	wget https://android.googlesource.com/platform/system/core/+archive/$(UPSTREAM_TAG).tar.gz -O $@

extras.tar.gz:
	wget https://android.googlesource.com/platform/system/extras/+archive/$(UPSTREAM_TAG).tar.gz -O $@

build.tar.gz:
	wget https://android.googlesource.com/platform/build/+archive/$(UPSTREAM_TAG).tar.gz -O $@

libnativehelper.tar.gz:
	wget https://android.googlesource.com/platform/libnativehelper/+archive/$(UPSTREAM_TAG).tar.gz -O $@